* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(./Images/bg.jpg),
    linear-gradient(rgba(0, 0, 0.75), rgba(0, 0, 0.75));
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #f57f17;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 7rem;
  margin-top: 8rem;
}

.content p {
  margin: 25px auto;
  font-weight: 100;
  line-height: 25px;
}

.button {
  width: 200px;
  padding: 15px 0;
  margin: 20px 10px;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  background: transparent;
  border: 2px solid #f57f17;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  height: 100%;
  width: 0;
  background: #f57f17;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
